<p>this is the getting section!</p>
<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of getDatabase">
                <th>{{d.id}}</th>
                <th>{{d.name}}</th>
            </tr>
        </tbody>
    </table>
<p>This is the posting section</p>
<form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" >
    <input type = "text" name = "content" placeholder = "ENTR CONTENT HERE" ngModel>
    <br/>
    <input type = "submit" value = "post">
  </form>