<mat-card>
<!-- <div>{{getData.data}}</div>   -->
  <mat-card-header id="postingComponent">
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>John Doe</mat-card-title>
     </mat-card-header>
     <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" >
        <input type = "text" name = "content" placeholder = "ENTR CONTENT HERE" ngModel>
        <br/>
        <!-- <input type = "text" name = "index" placeholder = "index" ngModel>
        <br/>-->
        <input type = "submit" value = "submit">
      </form>
    
  
    </mat-card>




  


<!-- <button (click)="_buttonClick()">PostData</button> -->
<!-- <button (click)="_patchEntry()">Patch Data</button> -->    